body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  /*text-align: center;*/
  text-align: center;
}

nav ul li {
  text-decoration: none;
  display: inline;
  margin: 30px;
}

nav li a {
  text-decoration: none;
  color: #000000;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/lisbon.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  color: white;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  color: #272044;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/lisbon-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
  margin: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
}

footer a {
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 48px;
  }

  header h3 {
    font-size: 12px;
  }
}
